#textdomain wesnoth-2
[unit_type]
    id=Undead Death Knight
    name= _ "Death Knight"
    race=SA_undead
    num_traits=6
    {BLIND}
    {TRAIT_FEARLESS_MUSTHAVE}
    image="units/mfnu/bone-warriors/death-knight/stand.png"
    image_icon="units/mfnu/bone-warriors/death-knight/icon.png"
    profile="portraits/mfnu/transparent/death-knight.png"
    small_profile="portraits/mfnu/transparent/death-knight.png~FL()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=64
    movement_type=skeletonveteranfoot
    movement=5
    vision=5
    experience=150
    level=3
    {ALIGNMENT_REVENGEFUL}
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=fighter
    description= _ "Existence of death knights is main reason why necromancers so afraid of revenants. Process of revival naturally ends with emergence of death knight. When last part of memories coming back to skeleton, very its soul returning from the Shadow World. Since this moment, it's no more will-less bone servant but actual returnee from the dead with immortal body and free will. Moreover, in a certain way death knights surpass even liches via posessing arcane knowledge from the Shadow World. Death knights have comprehended the essence of many things, learned history of forbidden nations and even saw the future. So, necromancers and even some liches trying to get rid of revenants before they become death knights. Only most powerful of liches can dominate over the death knights while others should control them as well as mortal kings control their subordinates through offer them something in return.

Tactical Info:

Pupil: Blind
* unit's vision rate and accuracy aren't influenced by time of day.

Alignment: Revengeful
* from 0 to 25% damage penalty when unit's HP from 50 to 100% of maximum.
* from 0 to 25% damage bonus when unit's HP from 50 to 0% of maximum.

Movement type: Conscious skeleton
* good at village and castles defending.
* good at difficult terrain.
* can move underwater.

Armor type: Death knight in armor
* unbelievable resistant to cold damage.
* resistant to blade and especially to pierce damage.
* vulnerable for fire and arcane damage.

Damage type: Blade & Pierce
* blade attacks are effective against units without armor, especially against woses.
* blade attacks are less effective against skeletons and trolls.
* blade attacks are uneffective against ghosts and heavy armored units.
* pierce attack is more effective against cavalry and flying units.
* pierce attack is less effective against frogs, dwarves and skeletons.
* pierce attack is uneffective against woses, ghosts and heavy armored units.

Special abilities:
* firststrike: srikes first in defense.
* gash: аttack inflicts gash when hits. Units with bleeding recieve 4 damage every turn.
* backstab: attack inflicts double damage when there is ally unit on the opposite side of the target.
* lethal: when attack hits and inflicts 25 or more damage at a time, opponent dies.
* distraction: distracts an opponent when hits. Distracted units lose their ZoC for 1 turn."
    die_sound={SOUND_LIST:SKELETON_DIE}
    [resistance]
        blade=75
        pierce=60
        impact=100
        fire=120
        cold=45
        arcane=130
    [/resistance]
    [attack]
        name=hidden blade
        description=_"hidden blade"
        type=pierce
        range=melee
        damage=13
        number=2
        icon=attacks/warblade.png
	attack_weight=2.0
        [specials]
            {WEAPON_SPECIAL_SNEAKY_BLOW}
            {WEAPON_SPECIAL_LETHAL}
        [/specials]
    [/attack]
    [attack]
        name=urumi
        description=_"urumi"
        type=blade
        range=melee
        damage=5
        number=3
        icon=attacks/urumi.png
	defense_weight=2.0
        [specials]
	    {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_GASH}
	    {WEAPON_SPECIAL_CONTACTLESS}
        [/specials]
    [/attack]
    [attack]
        name=shuriken
        description=_"shuriken"
        type=blade
        range=ranged
        damage=4
        number=4
        icon=attacks/chakram.png
        [specials]
            {WEAPON_SPECIAL_DISTRACTION}
            {WEAPON_SPECIAL_THROWING}
        [/specials]
    [/attack]
    [defend]
        start_time=-250
	{STAND_ON_WATER}
        [frame]
            image="units/mfnu/bone-warriors/death-knight/stand.png":1,"units/mfnu/bone-warriors/death-knight/stand.png":400,"units/mfnu/bone-warriors/death-knight/stand.png":1
        [/frame]       
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:SKELETON_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [standing_anim]
        start_time=0
	{STAND_ON_WATER}
        [frame]
	    image="units/mfnu/bone-warriors/death-knight/stand.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=urumi
        [/filter_attack]
	{STAND_ON_WATER}
        start_time=-250
        offset=0.0~0.5:250,0.5~0.0:250
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:SWORD_SWISH} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hidden blade
        [/filter_attack]
	{STAND_ON_WATER}
        start_time=-250
        offset=0.0~0.5:250,0.5~0.0:250
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -125}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shuriken
        [/filter_attack]
	{STAND_ON_WATER}
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/chakram.png"
            image_diagonal="projectiles/chakram.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
[/unit_type]
