#textdomain wesnoth-2
[unit_type]
    id=Tribes Flamethrower
    name= _ "Flamethrower"
    race=SA_goblin
    image="units/tribes/goblins/flamethrower/stand.png"
    profile="portraits/tribes/transparent/flamethrower.png"
    small_profile="portraits/tribes/transparent/flamethrower.png~SCALE(205,205)~FL()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=24
    movement_type=goblinfoot
    movement=5
    vision=5
    experience=100
    level=2
    {ALIGNMENT_DODGY}
    {AMLA_DEFAULT}
    advances_to=null
    cost=25
    usage=mixed fighter
    description= _ "The combustible mixture now known as ''ghash-shaha'' was originally invented by gnomes, but they refused to use it because of too much danger. A goblin will get a lot of burns before he learns to fire flaming shells without burning himself. Often, such burns turns to be fatal. Fortunately, there are many goblins in the world and eventually some of them become true masters of incendiary case. They go even further and learn to spit out a burning liquid from their mouths... On the battlefield, such a flame thrower is deadly dangerous - for enemies, for friends, for buildings, for civilians and for himself.

Tactical Info:

Pupil: Night type
* +5% accuracy and +1 vision range at night.
* -10% accuracy and -1 vision range at daytime.

Alignment: Dodgy
* receiveing bonus of some alignment if there are three ally units of such alignment around him.

Movement type: Goblin
* very good at rough terrain and in caves.
* good mobility on hills and mountains.
* not good at castle and village defending.

Armor type: Hardy goblin without armor
* resistant to fire damage.
* vulnerable for arcane, blade and especially for impact damage.

Damage type: Fire
* very effective against woses and other plants.
* more effective against skeletons and frogs.
* less effective against nagas, trolls and hardy units.
* neffective against ghosts, drakes and dragons.

Special abilities:
* ignition: melee attack ignites opponent when hits and inflicts 15 or more damage at a time. Ignited units recieve 8 fire damage every turn.
* sticky fire: ranged attack ingnites opponent when hits. Ignited units recieve 8 fire damage every turn."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [resistance]
	arcane=110
	fire=80
	cold=100
	impact=130
	blade=120
	pierce=100
    [/resistance]
    [attack]
        name=liquid fire
        description=_"liquid fire"
	icon=attacks/fire-liquid.png
        type=fire
        range=ranged
        damage=5
        number=4
	defense_weight=3.0
        [specials]
 	    {WEAPON_SPECIAL_STICKY_FIRE}
        [/specials]
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
	icon=attacks/flame-stream.png
        type=fire
        range=melee
        damage=18
        number=1
	defense_weight=3.0
        [specials]
 	    {WEAPON_SPECIAL_IGNITION}
	    {WEAPON_SPECIAL_CONTACTLESS}
        [/specials]
    [/attack]
    [abilities]
    	{FLAG_SMALLSIZE}
    [/abilities]
    [defend]
        start_time=-250
	{STAND_ON_WATER}
        [frame]
            image="units/tribes/goblins/flamethrower/stand.png":1,"units/tribes/goblins/flamethrower/stand.png":400,"units/tribes/goblins/flamethrower/stand.png":1
        [/frame]       
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:GOBLIN_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [standing_anim]
        start_time=0
	{STAND_ON_WATER}
        [frame]
	    image="units/tribes/goblins/flamethrower/stand.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=torch
        [/filter_attack]
	{STAND_ON_WATER}
        start_time=-250
        offset=0.0~0.5:250,0.5~0.0:250
        {SOUND:HIT_AND_MISS torch.ogg torch-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=liquid fire
        [/filter_attack]
	{STAND_ON_WATER}
        offset=0.0

        impact_burst_start_time=-160
        [impact_burst_frame]
            duration=320
            halo=projectiles/fire-burst-small-[1~8].png
            offset=1.0
            layer=90
        [/impact_burst_frame]

        flame_trail_1_start_time=-450
        flame_trail_2_start_time=-400
        flame_trail_3_start_time=-350
        flame_trail_4_start_time=-300
        flame_trail_5_start_time=-250
        [flame_trail_1_frame]
            duration=500
            halo=projectiles/fire-breath-[1~10].png
            halo_x=35~0:300,0
            halo_y=20~0:300,0
            offset=0.0~1.0:300,1.0~1.25:200
            auto_vflip=false
        [/flame_trail_1_frame]
        [flame_trail_2_frame]
            duration=500
            halo=projectiles/fire-breath-[1~10].png
            halo_x=35~0:300,0
            halo_y=20~0:300,0
            offset=0.0~1.0:300,1.0~1.20:200
            auto_vflip=false
        [/flame_trail_2_frame]
        [flame_trail_3_frame]
            duration=500
            halo=projectiles/fire-breath-[1~10].png
            halo_x=35~0:300,0
            halo_y=20~0:300,0
            offset=0.0~1.0:300,1.0~1.15:200
            auto_vflip=false
        [/flame_trail_3_frame]
        [flame_trail_4_frame]
            duration=500
            halo=projectiles/fire-breath-[1~10].png
            halo_x=35~0:300,0
            halo_y=20~0:300,0
            offset=0.0~1.0:300,1.0~1.10:200
            auto_vflip=false
        [/flame_trail_4_frame]
        [flame_trail_5_frame]
            duration=500
            halo=projectiles/fire-breath-[1~10].png
            halo_x=35~0:300,0
            halo_y=20~0:300,0
            offset=0.0~1.0:300,1.0~1.05:200
            auto_vflip=false
        [/flame_trail_5_frame]
    [/attack_anim]
[/unit_type]
