#textdomain wesnoth-2
[unit_type]
    id=Robber Boatswain
    name= _ "Boatswain"
    race=SA_human
    ignore_race_traits=yes
    {DAY_PUPIL}
    {TRAIT_VILE}
    {TRAIT_FEARLESS}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    image="units/robbers/sailors/boatswain/stand.png"
    profile="portraits/robbers/transparent/boatswain.png"
    small_profile="portraits/robbers/transparent/boatswain.png~SCALE(205,205)~FL()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=heavyfoot
    movement=5
    vision=5
    experience=100
    level=2
    {ALIGNMENT_SELFLESS}
    advances_to=Robber Skipper
    cost=32
    description= _ "Boatswain is the most important sailor on the ship. He is informal leader who sailors afraid even more than the captain. In battle boatswain leads boarding crew, fighting in the forefront. Often the result of a battle between two teams of sailors depends not so much on the correlation of forces as on the courage and authority of the boatswains.

Tactical Info:

Pupil: Day type
* +5% accuracy and +1 vision range at daytime.
* -10% accuracy and -1 vision range at night.

Alignment: Selfless
* 25% damage bonus when there are 2 or more selfless allies around unit.
* 25% damage penalty when there isn't allies around unit.

Movement type: Drunk sailor
* low evasion on the land, but quite good movement speed and evasion in water and on sand.

Armor type: Immoral human without armor
* vulnerable for impact, blade and arcane damage.

Damage type: Blade
* effective against units without armor, especially against woses.
* less effective against skeletons and trolls.
* uneffective against ghosts and heavy armored units.

Special abilities:
* marine brotherhood: unit's blade, pierce, impact and arcane resistance increases by 10% for each adjacent ally with same ability.
* bottle of rum: at beginning of every its turn unit releases itself from any negative effects.
* sailors authority: increases damage of adjacent ally sailors by 20% and decreases damage of adjacent enemy sailors by 20%."
    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    [resistance]
	arcane=110
	fire=100
	cold=100
	impact=120
	blade=120
	pierce=100
    [/resistance]
    [movement_costs]
        shallow_water=2
        reef=2
	sand=2
        swamp_water=2
    [/movement_costs]
    [defense]
        shallow_water=70
        reef=60
	sand=70
        swamp_water=70
        village=50
        castle=50
    [/defense]
    [abilities]
        {ABILITY_MARINE_BROTHERHOOD}
        {ABILITY_RUM_BOTTLE}
        {ABILITY_SAILORS_AUTHORITY}
    [/abilities]
    [attack]
        name=cutlasses
        description=_"cutlasses"
        icon=attacks/cutlass.png
        type=blade
        range=melee
        damage=7
        number=5
    [/attack]
    [defend]
        start_time=-250
	{STAND_ON_WATER}
        [frame]
            image="units/robbers/sailors/boatswain/stand.png":1,"units/robbers/sailors/boatswain/stand.png":400,"units/robbers/sailors/boatswain/stand.png":1
        [/frame]       
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [standing_anim]
        start_time=0
	{STAND_ON_WATER}
        [frame]
	    image="units/robbers/sailors/boatswain/stand.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=cutlasses
        [/filter_attack]
	{STAND_ON_WATER}
        start_time=-250
        offset=0.0~0.5:250,0.5~0.0:250
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
[/unit_type]
