#textdomain wesnoth-2
[unit_type]
    id=Robber Fugitive Mage Temp
    name= _ "Fugitive Mage"
    race=SA_human
    {TRAIT_VILE}
    image="units/robbers/runaways/fugitive-mage/stand.png"
    profile="portraits/robbers/transparent/fugitive-mage.png"
    small_profile="portraits/robbers/transparent/fugitive-mage.png~SCALE(205,205)~FL()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=fugitivefoot
    movement=6
    vision=6
    experience=100
    level=2
    {ALIGNMENT_DODGY}
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=mixed fighter
    description= _ "Not everyone who was expelled from the Academy becomes a necromancer - but most of them aren't better. Without a license, you can't work as a mage legally, but your talents are still appreciated by those who need special opportunities for committing a crime. As a result, most of the expelled mages end up in prison. But wesnothian prisons aren't disigned for to keep mages, so they escape and become fugitive mages. Their skills are inferior to professional mages and even necromancers, but despair makes them deadly opponents.

Tactical Info:

Pupil: Day type
* +5% accuracy and +1 vision range at daytime.
* -10% accuracy and -1 vision range at night.

Alignment: Dodgy
* receiveing bonus of some alignment if there are three ally units of such alignment around him.

Movement type: Fugitive
* very good at rough terrain.
* not good at castle and village defending.

Armor type: Immoral human mage without armor
* resistant to cold and fire magic.
* vulnerable for impact, blade and arcane damage.

Damage type: Pierce and Fire or Impact or Cold
* pierce attack is more effective against cavalry and flying units.
* pierce attack is less effective against frogs, dwarves and skeletons.
* pierce attack is uneffective against woses, ghosts and heavy armored units.
* fire attack is very effective against woses and other plants.
* fire attack is more effective against skeletons and frogs.
* fire attack is less effective against nagas, trolls and hardy units.
* fire attack is uneffective against ghosts, drakes and dragons.
* impact attack is effective against units without armor, especially against fragile ones, like skeletons, elves, goblins and saurians.
* impact attack is less effective against woses, trolls and other giant creatures.
* impact attack is uneffective against ghosts and heavy armored units.
* cold attack is very effective against drakes and dragons.
* cold attack is more effective against woses, nagas, trolls, frogs and merfolk.
* cold attack is less effective against dwarves and hardy units.
* cold attack is uneffective against skeletons and ghosts.

Special abilities:
* paranoid: +1 to vision range.
* animal habits: accuracy of unit's melee attack against animals is 10% greater.

Spells: 1 of these
* fireball (basic): advanced version of ''energy stream''. Calls few balls of magic energy, which causes fire damage. Firing rate increases with unit's level. 7-3 damage at the current level.
* waterball (basic): advanced version of ''energy stream''. Calls few balls of compressed water, which causes impact damage. It distracts an opponent when hits. Shooting accuracy increases with unit's level. 12-2 damage with 0% additional accuracy at the current level.
* flash (basic): blinds enemies, which attacks him at a distance, reducing their accuracy.
* flame missiles (average): calls small swift missiles which inflicts fire damage. Damage depends on unit's level when number of attacks depends of unit's hitpoints. On the current level not wounded unit inflicts 5-5 magical damage.
* chill wave (average): calls a stream of magical energy, which causes cold damage. Power of spell increases with unit's level. 5-3 damage at the current level."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
	arcane=110
	fire=80
	cold=80
	impact=120
	blade=120
	pierce=100
    [/resistance]
    [abilities]
    	{FLAG_MAGE}
    [/abilities]
    [attack]
        name=spear
        description=_"short spear"
	icon=attacks/spear.png
        type=pierce
        range=melee
        damage=5
        number=3
        [specials]
 	    {WEAPON_SPECIAL_ANIMAL_HABITS}
	[/specials]
    [/attack]
    [attack]
        name=spear
        description=_"short spear"
	icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=5
        number=2
        [specials]
 	    {WEAPON_SPECIAL_ANIMAL_HABITS}
            {WEAPON_SPECIAL_THROWING}
	[/specials]
    [/attack]
    [defend]
        start_time=-250
	{STAND_ON_WATER}
        [frame]
            image="units/robbers/runaways/fugitive-mage/stand.png":1,"units/robbers/runaways/fugitive-mage/stand.png":400,"units/robbers/runaways/fugitive-mage/stand.png":1
        [/frame]       
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [standing_anim]
        start_time=0
	{STAND_ON_WATER}
        [frame]
	    image="units/robbers/runaways/fugitive-mage/stand.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=spear
	    range=melee
        [/filter_attack]
	{STAND_ON_WATER}
        start_time=-250
        offset=0.0~0.5:250,0.5~0.0:250
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -200}
    [/attack_anim]  
    [attack_anim]
        [filter_attack]
            name=spear
	    range=ranged
        [/filter_attack]
	{STAND_ON_WATER}
	missile_start_time=0
        [missile_frame]
            duration=150
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        attack_sound_start_time=-50
        [attack_sound_frame]
            duration=100
            sound={SOUND_LIST:THROW}
        [/attack_sound_frame]
        [if]
            hits=yes
            [attack_sound_frame]
                sound=spear.ogg
            [/attack_sound_frame]
        [/if]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spell_115
        [/filter_attack]
	{STAND_ON_WATER}
	start_time=-450
        [frame]
            halo=halo/elven/faerie-fire-halo[1~7].png
            halo_x,halo_y=0,-28
        [/frame]
	missile_start_time=0
        [missile_frame]
            duration=150
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        attack_sound_start_time=-50
        [attack_sound_frame]
            duration=100
            sound={SOUND_LIST:THROW}
        [/attack_sound_frame]
        [if]
            hits=yes
            [attack_sound_frame]
                sound=spear.ogg
            [/attack_sound_frame]
        [/if]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spell_103
        [/filter_attack]
	{STAND_ON_WATER}
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS water-blast.wav water-blast.wav -70}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spell_102
        [/filter_attack]
	{STAND_ON_WATER}
	{MISSILE_FRAME_FIREBALL_XY 11 -20}
        {SOUND:HIT_AND_MISS fire.wav fire.wav -275}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spell_219
        [/filter_attack]
	{STAND_ON_WATER}
	{MISSILE_FRAME_FIREBALL_XY 11 -20}
        {SOUND:HIT_AND_MISS fire.wav fire.wav -275}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spell_220
        [/filter_attack]
	{STAND_ON_WATER}
        {MISSILE_FRAME_CHILL_WAVE 0 -12}
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark-miss.ogg -100}
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Robber Fugitive Mage Fake Fireball
    [base_unit]
        id=Robber Fugitive Mage
    [/base_unit]
    hide_help=true
    do_not_list=yes
    [advancement]
        id=Robber Fugitive Mage Fireball
        {BASIC_FIREBALL -1}
	[effect]
	    apply_to=type
	    name=Robber Fugitive Mage
	[/effect]  
    [/advancement]
[/unit_type]
[unit_type]
    id=Robber Fugitive Mage Fake Firemissiles
    [base_unit]
        id=Robber Fugitive Mage
    [/base_unit]
    hide_help=true
    do_not_list=yes
    [advancement]
        id=Robber Fugitive Mage Firemissiles
        {AVERAGE_FLAME_MISSILES -2}
	[effect]
	    apply_to=type
	    name=Robber Fugitive Mage
	[/effect]  
    [/advancement]
[/unit_type]
[unit_type]
    id=Robber Fugitive Mage Fake Waterball
    [base_unit]
        id=Robber Fugitive Mage
    [/base_unit]
    hide_help=true
    do_not_list=yes
    [advancement]
        id=Robber Fugitive Mage Waterball
        {BASIC_WATERBALL -10}
	[effect]
	    apply_to=type
	    name=Robber Fugitive Mage
	[/effect]  
    [/advancement]
[/unit_type]
[unit_type]
    id=Robber Fugitive Mage Fake Chillwave
    [base_unit]
        id=Robber Fugitive Mage
    [/base_unit]
    hide_help=true
    do_not_list=yes
    [advancement]
        id=Robber Fugitive Mage Chillwave
        {AVERAGE_CHILL_WAVE -3}
	[effect]
	    apply_to=type
	    name=Robber Fugitive Mage
	[/effect]  
    [/advancement]
[/unit_type]
[unit_type]
    id=Robber Fugitive Mage Fake Flash
    [base_unit]
        id=Robber Fugitive Mage
    [/base_unit]
    hide_help=true
    do_not_list=yes
    [advancement]
        id=Robber Fugitive Mage Flash
        {BASIC_FLASH}
	[effect]
	    apply_to=type
	    name=Robber Fugitive Mage
	[/effect]  
    [/advancement]
[/unit_type]
[unit_type]
    id=Robber Fugitive Mage
    [base_unit]
        id=Robber Fugitive Mage Temp
    [/base_unit]
    hide_help=true
    do_not_list=yes
[/unit_type]
